<a href="https://colab.research.google.com/github/naveenadhikari/credit-card-fraud-detection/blob/main/mlprojectCreditCard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing libraries

In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
#loading thr dataset to  a pandas data frame
credit_card_data = pd.read_csv('/content/creditcard[1].csv')

In [14]:
#first five rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [15]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [16]:
#checking no of missing values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [17]:
#distribution of legit transaction & fraudlement transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

this dataset is highly unbalanced

0-->normal transcation
1-->fraud

In [18]:
#separating the data for analysis
legit=credit_card_data[credit_card_data.Class == 0]
fraud=credit_card_data[credit_card_data.Class == 1]

In [19]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [21]:
#stats measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [23]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [24]:
#compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

undersampling

build a sample dataset conatining similar distribution of normal transaction and fraudlent transaction

number of fraudulent transaction->492

In [26]:
legit_sample=legit.sample(n=492)

concatinating two  dataframes

In [27]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [28]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
97119,66079.0,1.126494,0.013117,-0.149457,0.537638,-0.306226,-1.121361,0.387509,-0.195910,-0.329962,...,0.060688,-0.021523,-0.135700,0.559412,0.548411,0.502344,-0.094895,-0.001104,66.11,0
29186,35355.0,1.207092,-0.073704,0.440110,0.003499,-0.486477,-0.655799,-0.063646,-0.198370,0.163390,...,-0.234627,-0.751890,0.056882,-0.054302,0.088781,0.765710,-0.069549,0.020000,55.00,0
254424,156726.0,2.055952,-0.095281,-1.074489,0.425709,-0.196044,-1.230093,0.154373,-0.307667,0.616944,...,-0.292797,-0.740210,0.344924,0.032647,-0.317654,0.196776,-0.074542,-0.060446,4.57,0
119341,75417.0,1.234634,0.321854,0.430883,0.775218,-0.584123,-1.274588,0.051166,-0.189837,0.102608,...,-0.273738,-0.819389,0.177738,0.654754,0.152310,0.076349,-0.026463,0.032661,0.89,0
71937,54503.0,1.225934,-0.293803,0.987563,0.344647,-0.753643,0.470828,-0.994604,0.331381,0.993288,...,0.173752,0.553657,-0.083083,-0.746717,0.187834,0.663603,0.022412,0.015130,0.11,0

In [29]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [30]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92951.906504,0.061110,0.094235,0.111922,-0.070398,0.015668,0.075463,-0.041497,-0.045819,0.022163,...,-0.017853,-0.051858,-0.021423,0.001659,-0.018603,0.026065,-0.009024,0.001923,0.001762,71.841931
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into Feature & Targets

In [42]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [43]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
97119    66079.0  1.126494  0.013117 -0.149457  0.537638 -0.306226 -1.121361
29186    35355.0  1.207092 -0.073704  0.440110  0.003499 -0.486477 -0.655799
254424  156726.0  2.055952 -0.095281 -1.074489  0.425709 -0.196044 -1.230093
119341   75417.0  1.234634  0.321854  0.430883  0.775218 -0.584123 -1.274588
71937    54503.0  1.225934 -0.293803  0.987563  0.344647 -0.753643  0.470828
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
97119   0.387509 -0.195910 -0.329962  ... -0.054417  0.060688 -0.021523
29186  -0.063646 -0.198370  0.163390  ...  0.132243 -0.234627 -0.751890
254424  0.154373 -0.307667  0.616944  ... -0.251355 -0.292797 -0.740210
119341  0.051166 -0.189837  0.102608  ... -0.132211 -0.273738 -0.819389
71937  -0.994604  0.331381  0.993288  ... -0.162097  0.173752  0.553657
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
97119  -0.135700  0.559412  0.548411  0.502344 -0.094895 -0.001104   66.11
29186   0.056882 -0.054302  0.088781  0.765710 -0.069549  0.020000   55.00
254424  0.344924  0.032647 -0.317654  0.196776 -0.074542 -0.060446    4.57
119341  0.177738  0.654754  0.152310  0.076349 -0.026463  0.032661    0.89
71937  -0.083083 -0.746717  0.187834  0.663603  0.022412  0.015130    0.11
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [35]:
print(Y)

97119     0
29186     0
254424    0
119341    0
71937     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into training data & testing data

In [44]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [45]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

In [46]:
model=LogisticRegression()

In [47]:
#model the logistic regression model with training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [48]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [49]:
print('accuracy on training data:',training_data_accuracy)

accuracy on training data: 0.9479034307496823

In [50]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [51]:
print("accuracy score on test data:",training_data_accuracy)

accuracy score on test data: 0.9479034307496823